<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.appNutrity.nutrity">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:name="com.appNutrity.nutrity.dataPersistence.loggedIn"
        android:label="Nutrity"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Nutrity">
        <activity
            android:name="com.appNutrity.nutrity.ui.user_profile.UserProfileConfig"
            android:exported="false" />
        <activity
            android:name="com.appNutrity.nutrity.ui.email_verification.EmailVerification"
            android:exported="false"
            android:label="Email Verification"
            android:theme="@style/Theme.Nutrity.NoActionBar" />
        <activity
            android:name="com.appNutrity.nutrity.ui.forgot_pass.Forgot_pass_Activity"
            android:exported="false"
            android:label="Forgot password" />
        <activity
            android:name="com.appNutrity.nutrity.ui.signup.SignupActivity"
            android:exported="false"
            android:label="Sign Up"
            android:theme="@style/Theme.Nutrity.NoActionBar" />
        <activity
            android:name="com.appNutrity.nutrity.ui.login.LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.Nutrity.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.appNutrity.nutrity.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Nutrity.NoActionBar"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
    </application>

</manifest>